<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-lowercase">INICIAR SESION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="assets/images/profile.png"/>
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="(loginUser(loginForm.value))">
    
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="Correo electronico" formControlName="email"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="
        (loginForm.get('email')?.hasError(validation.type) && 
        loginForm.get('email')?.dirty)">
        {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-button
    type="submit"
    [disabled]="!loginForm.valid"
    expand="block"
    shape="round"
    color="success"
    >
      Login 
      <ion-icon name="return-down-forward-outline"></ion-icon>
    </ion-button>
  </form>

</ion-content>
