<ion-split-pane>
  <ion-menu contentId="content" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-title>Menu</ion-title>
          <ion-button (click)="closeMenu()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start" color="primary"></ion-icon>
        Salir
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>