swiper-container {
  width: 80%;
  height: 80%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cool-title {
  color: red;
}

.custom-bg-color {
  --background: aqua;
}

.sp-bg-color {
  background-color: blueviolet;
}

//ion-avatar {
//  --border-radius: 0px;
//}

.style-avatar {
  --border-radius: 0px;
}