<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

<h1>Artistas</h1>
<swiper-container slides-per-view="4" speed="400">
    <swiper-slide *ngFor="let artstis of artists">
        <ion-avatar (click)="showSongs(artstis)">
            <img src="{{artstis.image}}"/>
            <span>{{artstis.name}}</span>
        </ion-avatar>
    </swiper-slide>
</swiper-container>
  
</ion-content>