<ion-content>

  <swiper-container>

    <swiper-slide>
      <h2>Titulo del slide 1</h2>
      <img src="https://media.ambito.com/p/67e1cdc69057c1863724eddcd8269faa/adjuntos/239/imagenes/040/456/0040456799/gatos-portadajpg.jpg"/>
      <p>Hola soy un parrafo del slide 1</p>
    </swiper-slide>

    <swiper-slide>
      <h2>Titulo del slide 2</h2>
      <img src="https://i.pinimg.com/236x/26/24/9a/26249a78777f6e3527d959ed4399dc1e.jpg" />
      <p class="cool-title">Hola soy un parrafo del slide 2</p>
    </swiper-slide>

    <swiper-slide>
      <h2 class="cool-title">Titulo del slide 3</h2>
      <ion-icon name="bowling-ball-outline"></ion-icon>
      <p>Hola soy un parrafo del slide 3</p>
    </swiper-slide>

  </swiper-container>
  
</ion-content>
