<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()"> <ion-icon name="arrow-back-outline"></ion-icon> </ion-button>
      <ion-title class="ion-text-center">Registro</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <figure>
    <img src="assets/images/profile.png"/>
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-input label="Nombre" placeholder="escriba su nombre" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Apellido" placeholder="escriba su apellido" formControlName="last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" placeholder="escriba su email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" placeholder="escriba su contraseña" formControlName="password"></ion-input>
    </ion-item>
    <ion-button
    type="submit"
    expand="block"
    color="success"
    shape="round"
    [disabled]="!registerForm.valid"
    >
      Registrarse
    </ion-button>
  </form>
</ion-content>
